<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>Admin Portal</title>
<link th:href="@{/css/productlist.css}" rel="stylesheet" />
<link th:href="@{/css/admin.css}" rel="stylesheet" /> 
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

	<div class="sidebar">
		<header> Admin Portal <br/> <p style="font-size: 15px;" th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</p></header>
		<ul>
			<li><a th:href="@{/viewproduct}"><i class="fas fa-stream"></i>View Product</a></li>
			<li><a th:href="@{/newProduct}"><i class="fa fa-plus"></i>Add product</a></li>
			<!-- <li><a th:href="@{/logout}"><i class="fa fa-sign-out"></i>Sign out</a></li> -->
		</ul>
	</div>

	<div align="center">
		<h1>Product List</h1>
		<table class="table">
			<thead>
				<tr>
						<th>Product ID</th>
						<th>Title</th>
						<th>Category</th>
						<th>Author</th>
						<th>Our Price</th>
						
						<th sec:authorize="hasRole('ADMIN')">Actions</th>
					</tr>
			</thead>
			
			<tbody>
				<tr th:each="product : ${listProducts}">
						<td th:text="${product.id}">Product ID</td>
						<td th:text="${product.title}">Title</td>
						<td th:text="${product.category}">Category</td>
						<td th:text="${product.author}">Author</td>
						<td th:text="${product.ourPrice}">Price</td>
						
						<td sec:authorize="hasRole('ADMIN')">
							<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a th:href="@{'/delete/' + ${product.id}}">Delete</a>
						</td>
						
					</tr>
			</tbody>
		</table>
	
	</div>
	
</body>
</html>
