/* CSS Document */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	background: #2e669b;
}


.sidebar{
	position: fixed;
	left: 0;
	width: 220px;
	height: 100%;
	background: #25527c;
	transition: all .5s ease;
}

.sidebar header{
	font-size: 30px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #1e4263;
	user-select: none;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid #400079;
	transition: .4s;
}
ul li:hover a{
	padding-left: 50px;
}
.sidebar ul a i{
	margin-right: 16px;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}





